<footer class="page-footer font-small unique-color-dark pt-4">

    <div class="container">

      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Ready to take your Dental Care to the next level?</h5>
        </li>
        <br>
        <li class="list-inline-item">
          <a routerLink="/appointment" mdbBtn color="white" outline="true" rounded="true" class="waves-light btn btn-primary" mdbWavesEffect>Set Appointment</a>
        </li>
      </ul>

    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://www.facebook.com/mateoDCofficial/?ref=br_rs">Mateo Dental Clinic Official</a>
    </div>
  </footer>
