<ngb-carousel>
	<ng-template ngbSlide>
	  <div class="picsum-img-wrapper">
		<img src="../../assets/images/slide1.png" alt="Random first slide" class="img-fluid">
	  </div>
	  <div class="carousel-caption">
		<h3>General Dentistry</h3>
		<p>Random short information for General Dentistry Here</p>
	  </div>
	</ng-template>
	<ng-template ngbSlide>
	  <div class="picsum-img-wrapper">
		<img src="../../assets/images/slide3.jpg" alt="Random second slide" class="img-fluid">
	  </div>
	  <div class="carousel-caption">
		<h3 style="color:black;" style="text-shadow: 1px 1px #1a1a1a;">Mateo Dental Clinic Family</h3>
		<p style="color:black;" style="text-shadow: 1px 1px #313131;">We are a family of Dentists who are passionate about who we are</p>
	  </div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/images/prosto.png" alt="Random third slide" class="img-fluid">
	  	</div>
	  	<div class="carousel-caption">
			<h3>Dental X-Ray</h3>
			<p>Having problems on your jaws that affect your teeth? Have it checked here!</p>
	  	</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/images/slide4.jpg" alt="Random fourth slide" class="img-fluid">
		</div>
		<div class="carousel-caption">
			<h3 style="text-shadow: 2px 2px #050505;">Cosmetic Dentistry</h3>
			<p style="text-shadow: 2px 2px #050505;">Who likes a bad looking smile? Have it checked and fixed!</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="../../assets/images/slide5.jpg" alt="Random fifth slide" class="img-fluid">
			</div>
			<div class="carousel-caption">
				<h3 style="color:black;">Available for Everyone!</h3>
				<p style="color:black;">Whether you are a child, teen, or adult... We got you covered!</p>
			</div>
		</ng-template>
</ngb-carousel>