<ngb-carousel>
	<ng-template ngbSlide>
	  <div class="picsum-img-wrapper">
		<img src="../../assets/images/slide1.png" alt="Random first slide" class="img-fluid">
	  </div>
	  <div class="carousel-caption">
		<h3>Pic #1 </h3>
		<p>asdashdqwjhbedjhas bndkjsanbkjdbaskjdnaskdnasldnn</p>
	  </div>
	</ng-template>
	<ng-template ngbSlide>
	  <div class="picsum-img-wrapper">
		<img src="../../assets/images/slide2.png" alt="Random second slide" class="img-fluid">
	  </div>
	  <div class="carousel-caption">
		<h3>Second slide label</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	  </div>
	</ng-template>
	<ng-template ngbSlide>
	  <div class="picsum-img-wrapper">
		<img src="../../assets/images/slide3.jpg" alt="Random third slide" class="img-fluid">
	  </div>
	  <div class="carousel-caption">
		<h3>Third slide label</h3>
		<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
	  </div>
	</ng-template>
  </ngb-carousel>