<header>
<div class="service-intro">
    <div class="col-md-12 col-sm-12 text-center">
        <h1 class="intro">OUR SERVICES</h1>
    </div>
</div>
</header>


<main>
<div class="row">
    <div class="col-md-4 col-sm-12 text-center">
        <div class="img-service">
            <img src="../..//assets/images/service1.jpg" alt="service_1" class="img-fluid">
           <a href="/services/GeneralDentistry"> <h3 class="genden">General Dentistry</h3></a>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 text-center">
        <div class="img-service">
            <img src="../..//assets/images/service2.jpg" alt="service_2" class="img-fluid">
            <a href="/services/CosmeticDentistry"> <h3 class="genden">Cosmetic Dentistry</h3></a>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 text-center">
        <div class="img-service">
            <img src="../..//assets/images/service3.jpg" alt="service_3" class="img-fluid">
            <a href="/services/OrthoDontics"> <h3 class="genden">OrthoDontics Dentistry</h3></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 text-center">
        <div class="img-service">
            <img src="../..//assets/images/service4.jpg" alt="service_4" class="img-fluid">
            <a href="/services/Prosthodontics"> <h3 class="genden">Prosthodontics Dentistry</h3></a>
        </div>
    </div>
    <div class="col-md-6 col-12-sm text-center">
        <div class="img-service">
            <img src="../..//assets/images/service5.jpg" alt="service_5" class="img-fluid">
            <a href="/services/XRAY"> <h3 class="genden">Dental X-RAY</h3></a>
        </div>
    </div>
</div>
</main>


<footer>
    <div class="container-fluid p-0">
        <div class="row text-left">
            <div class="col-md-5 col-md-5">
                <h1 class="text-light">About Us</h1>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, in!
                </p>
                <p class="pt-4 textmuted">
                    Copyright?2019 All rights reserved | Presented by
                    <span>Mateo Dental Clinic</span>
                </p>
            </div>
            <div class="col-md-5">
                <h4 class="text-light">Newsletter</h4>
                <p class="text-muted">Stay updated</p>
                <form class="form-inline">
                    <div class="col pl-">
                        <div class="input-group pr-5">
                            <input type="text" class="form-control bg-dark text-white" placeholder="Email">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-md-2 col-sm-12">
                <h4 class="text-light">Follow Us</h4>
                <p class="text-muted">Let us be social</p>
                <div class="column text-dark">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>

                </div>
            </div>
        </div>
    </div>
</footer>
