<p>Services List Page</p>
<div>
<router-outlet></router-outlet>
<a routerLink='/services/GeneralDentistry'>General Dentistry</a><br>
<a routerLink='/services/CosmeticDentistry'>Cosmetic Dentistry</a><br>
<a routerLink='/services/Prosthodontics'>Prosthodontics</a><br>
<a routerLink='/services/OrthoDontics'>OrthoDontics</a><br>
<a routerLink='/services/Xray'>XRAY</a><br>
<h1>NOTE: May bootstrap na nakalagay dito built-in, wag ka na gumawa ng CSS file, automatic na kaagad basta maglagay ka lang ng code ng html sa service components.html</h1>
</div>