<br>
<header>
    <div class="row">
        <div class="col-md-12 col-sm-12">
<img src="../../../assets/images/genden.jpg" class="genden img-fluid">
        </div>
    </div>
</header>
<main>
    <section class="section-1">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>General Dentistry</h1>
                    <div class="panel text-left">
                        <p>General dentists are the most common dental care providers. By definition, they diagnose, treat, and manage overall oral healthcare needs including cleanings and exams, gum care, root canals, fillings, crowns, veneers, bridges, and preventative education.
                                The majority of dental school graduates start practicing in a general dentistry immediately following graduation, while some continue specialized education in a certain field</p>
                    </div>
                    <div class="panel text-left">
                    <h3>What Do General Dentists Do?</h3>
                        <p>General dentists perform routine services that focus on preventative maintenance. These services help prevent decay or disease of the teeth, mouth, gums and tongue. Examples include cleanings and routine exams.
                                If preventative measures aren't enough, general dentists will also incorporate restorative dental care. Restorative services repair damage caused by tooth decay, trauma, or disease in the mouth area. Examples include crowns and root canals.</p> 
                    </div>
                    <div class="panel text-left">
                    <h3>Interest Areas in General Dentistry</h3>
                        <p>An interest area in general dentistry is a well-defined body of evidence-based scientific and clinical knowledge underlying general dentistry, but is a more focused, complex and distinct field identified by advanced knowledge, techniques and procedures. The American Dental Association believes that the public is best served if the profession is oriented primarily to general practice. However, the public and profession benefits substantially when interest areas are developed and advanced through education, practice and research.</p>
                        <p>Today's rapidly emerging technologies and science are providing more sophisticated and complex solutions to problems encountered in general dentistry. The advances are changing and enhancing the dental practice environment.</p>
                        <p>Interest areas in general dentistry must meet the specified Criteria for Recognition of Interest Areas in General Dentistry (PDF) in order to be formally recognized by the American Dental Association. The first interest area in general dentistry to be recognized by the ADA House of Delegates is Operative Dentistry, Cariology and Biomaterials. The definition of this interest area has been approved by the ADA Councilon Dental Education and Licensure:</p>
                        <p><strong>Operative Dentistry, Cariology and Biomaterials</strong>: That branch of general dentistry concerned with the advanced knowledge, expertise and clinical skills in operative dentistry, restorative dental materials, educational theory, techniques, and teaching skills. It includes scientific research and knowledge in the areas of cariology and advanced scientific clinical training in restorative materials and biomaterials.</p>
                    </div>
                    <div class="panel text-left">
                    <h3>General Dentistry Services</h3>
                        <p>Instead of specializing in one area, many general dentists are trained on all dental procedures such as:</p>
                                <ul>
                                        <li>Cosmetic procedures</li>
                                        <li>Crowns and bridges</li>
                                        <li>Dental implants</li>
                                        <li>Dentures</li>
                                        <li>Gum disease treatment</li>
                                        <li>Home care instruction</li>
                                        <li>Mouth guards</li>
                                        <li>Nutrition counseling</li>
                                        <li>Oral surgery</li>
                                        <li>Root canal therapy</li>
                                        <li>Teeth cleanings</li>
                                </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>