<div class="container wmax">
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand montreg" href="#"><img src="./assets/images/MateoLogo.png" style="width:60px;height:60px;margin-right:10px;">Mateo Dental Clinic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-3">
            <a class="nav-link" routerLink='/home' routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" routerLink="/clinics" routerLinkActive="active">Clinics</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item mx-3">
              <button class="btn btn-success my-2 my-sm-0" routerLink="/appointment" routerLinkActive="active">Set Appointment</button>
          </li>
        </ul>
      </div>
  </nav>
  </div>

  