<div class="container">
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand montreg" href="#"><img src="./assets/images/MateoLogo.png" style="width:60px;height:60px;margin-right:10px;">Mateo Dental Clinic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Clinics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Set Appointment</button>
      </form>
    </div> -->

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active mx-3">
            <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="#">Clinics</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Set Appointment</button>
            </form>
        </ul>
      </div>
  </nav>
  </div>