<br>
<header>
    <img src="../../../assets/images/prosto.png" class="prosto">
</header>

<main>
    <section class="section-1">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>Prosthodontics</h1>
                    <div class="panel text-left">
                        <p>Prosthodontics is the dental specialty primarily concerned with the restoration and replacement of lost or damaged teeth. Sometimes called the 'architects of the smile,' prosthodontists are highly trained specialists with a unique understanding of all the elements that go into a beautiful, functional and natural-looking smile'not just the teeth, but also the gums, lips, and facial features. When it comes to planning and carrying out a full-scale smile makeover, a team of dental professionals is often required; many times, that team is captained by a prosthodontist.</p>
                    </div>
                    <div class="panel text-left">
                    <h3>What Do Prosthodontists Do?</h3>
                        <p>As their name implies ('prosthesis' = addition or attachment, 'odont' = tooth), these specialists plan and carry out procedures related to the replacement of natural teeth, in part or in full, with biocompatible substitutes. Some of these treatments include:.</p> 
                        <ul>
                            <li><strong>Porcelain Veneers</strong> ' wafer-thin shells of ceramic material that cover the front surfaces of teeth, providing a dramatic change in appearance. These are bonded to teeth that have been prepared by having a small amount of enamel removed, so they don't appear too bulky. Long-lasting veneers can change the size, shape or color of teeth, and even close small gaps between.</li>
                            <li><strong>Crowns</strong> ' artificial covers (sometimes called 'caps') that replace the entire visible surface of a tooth above the gum line. Fabricated of metal, porcelain fused to metal, or all-ceramic (porcelain), crowns are cemented to a prepared tooth with intact roots. They are often needed after a root canal procedure, or to repair fractured, broken or misshapen teeth.</li>
                            <li><strong>Dental implants</strong> ' when it's necessary to replace an entire tooth (both roots and crown), this method is considered today's gold standard. Implants consist of a titanium metal post which is implanted in the jaw in a minor surgical procedure. This screw-like post becomes fused with the jaw bone, providing a solid anchorage for a lifelike crown. Implants can be used to replace single or multiple teeth, or to support other types of dental restorations, such as dental bridges or dentures. While implant surgery is usually performed by other specialists, prosthodontists often design and place the implant crowns. Implants are initially the most costly tooth replacement method, but may prove an excellent value in the long run, as they can last a lifetime.</li>
                            <li><strong>Fixed Bridges</strong> ' this tooth-replacement method uses the existing, healthy teeth (called abutment teeth) on either side of a gap to support one or more artificial teeth. A series of linked crowns is fabricated as a single unit, which is then attached to the prepared abutment teeth. These work like a roadway-bridge foundation to hold up the crowns for the missing teeth in between. Bridges are a time-tested tooth-replacement method, but require special attention to cleaning, and potentially compromise the structure of the otherwise healthy abutment teeth.</li>
                            <li><strong>Dentures</strong> ' are available in many different types, including full, partial, and implant-supported varieties. They can improve the aesthetics and functionality of an individual who is missing teeth'particularly when the dentures are manufactured to a high standard of workmanship and fitted correctly in the mouth. However, wearing dentures typically requires an adjustment period, and some find them uncomfortable in certain situations.</li>
                        </ul>
                    </div>
                    <div class="panel text-left">
                    <h3>Reconstructive Dentistry</h3>
                        <p>Carrying out specialized procedures is one part of a prosthodontist's job; another is designing and detailing each step of a dental restoration, and making sure the work is performed to plan. Whether it's a 'smile makeover' designed to enhance your appearance, or a restoration after trauma or surgery, a prosthodontist can play an important role in treatment. Among the other services they offer, prosthodontists can also perform screenings for oral cancer, and diagnose and treat temporomandibular joint disorder (TMD) and obstructive sleep apnea (OSA).</p>
                        <p>Prosthodontists often work closely with dental laboratories, where highly skilled technicians create lifelike restorations from durable, high-tech materials. They can help ensure that you get well-crafted replacement teeth that will blend into a perfect smile. Their expertise allows them to treat the most difficult and challenging dental problems; that's the reason why general dentists often refer patients to them for treatment.</p>
                    </div>  
                </div>
            </div>
        </div>
    </section>
</main>
