<br>
<div class="container-fluid car">
    <app-carousel></app-carousel>
</div>

<section class="section-1 container-fluid p-0">
    <div class="cover">
        <div class="content text-center">
            <h1>Featured Services</h1>
            <p>
                The Mateo Dental Clinic offers the following services
            </p>

        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="numbers">
            <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
                <div class="rect">
                    <h1>General Dentistry</h1>

                </div>
                <div class="rect">
                    <h1>Cosmetic Dentistry</h1>

                </div>
                <div class="rect">
                    <h1>Prosthodontics</h1>

                </div>
                <div class="rect">
                    <h1>Orthodonics</h1>

                </div>
                <div class="rect">
                    <h1>XRAY</h1>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-3">
    <div class="container text-center">
        <h1 class="text-dark"> Dentists</h1>
        <p class="text-secondary">We are the Dentists that perform operations and services in Mateo Dental Clinic</p>
    </div>
    <div class="row team-row">
        <div class="col-md-4 col-sm-12 text-center">
            <div class="card mr-2 d-inline-block shadow-lg">
                <div class="card-img-top">
                    <img src="../../assets/images/femaleplaceholder.jpg" alt="femaleplaceholder" class="img-fluid">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Dr. Lily M. Kwan-Mateo</h3>
                    <p class="card-text">
                        Unconfirmed informations to be filled soon. Temporary Placeholder
                    </p>
                    <a href="#" class="text-secondary text-decoration-none">Dentist</a>
                    <p class="text-black-50">*Insert Specialization*</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                        <div class="card-img-top">
                            <img src="../../assets/images/maleplaceholder.png" alt="maleplaceholder" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Dr. Roel Mario A. Mateo</h3>
                            <p class="card-text">
                                Unconfirmed informations to be filled soon. Temporary Placeholder
                            </p>
                            <a href="#" class="text-secondary text-decoration-none">Head Dentist</a>
                            <p class="text-black-50">*Insert Specialization*</p>
                        </div>
                    </div>
                
            </div>

        <div class="col-md-4 col-12-sm text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                        <div class="card-img-top">
                            <img src="../../assets/images/femaleplaceholder.jpg" alt="femaleplaceholder" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Dr. Sheree Jane K. Mateo-Gagatam</h3>
                            <p class="card-text">
                                Unconfirmed informations to be filled soon. Temporary Placeholder
                            </p>
                            <a href="#" class="text-secondary text-decoration-none">Dentist</a>
                            <p class="text-black-50">*Insert Specialization*</p>
                        </div>
                    </div>
               
        </div>  
    </div>
</section>