<br>
<div class="container-fluid car">
    <app-carousel></app-carousel>
</div>

<section class="section-1 container-fluid p-0">
    <div class="cover">
        <div class="content text-center">
            <h1>Featured Services</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, quae.
            </p>

        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="numbers">
            <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
                <div class="rect">
                    <h1>General Dentistry</h1>
                    <p>Lorem ipsum.</p>
                </div>
                <div class="rect">
                    <h1>Cosmetic Dentistry</h1>
                    <p>Lorem ipsum.</p>
                </div>
                <div class="rect">
                    <h1>Prosthodontics</h1>
                    <p>Lorem ipsum.</p>
                </div>
                <div class="rect">
                    <h1>Orthodonics</h1>
                    <p>Lorem ipsum.</p>
                </div>
                <div class="rect">
                    <h1>XRAY</h1>
                    <p>Lorem ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-3">
    <div class="container text-center">
        <h1 class="text-dark"> Dentists</h1>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, amet.</p>
    </div>
    <div class="row team-row">
        <div class="col-md-4 col-sm-12 text-center">
            <div class="card mr-2 d-inline-block shadow-lg">
                <div class="card-img-top">
                    <img src="../../assets/images/soyeon.jpeg" alt="bebeko" class="img-fluid">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Jeon Soyeon</h3>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id adipisci beatae voluptatibus corporis ad consequatur amet consequuntur et repudiandae aliquid!
                    </p>
                    <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                    <p class="text-black-50">CEO</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                        <div class="card-img-top">
                            <img src="../../assets/images/yuqi.png" alt="bebeko" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Song Yuqi</h3>
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id adipisci beatae voluptatibus corporis ad consequatur amet consequuntur et repudiandae aliquid!
                            </p>
                            <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                            <p class="text-black-50">CUTEST</p>
                        </div>
                    </div>
                
            </div>

        <div class="col-md-4 col-12-sm text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                        <div class="card-img-top">
                            <img src="../../assets/images/Min.jpg" alt="bebeko" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Yoon Minnie</h3>
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id adipisci beatae voluptatibus corporis ad consequatur amet consequuntur et repudiandae aliquid!
                            </p>
                            <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                            <p class="text-black-50">BANGS</p>
                        </div>
                    </div>
               
        </div>  
    </div>
</section>


<footer>
    <div class="container-fluid p-0">
        <div class="row text-left">
            <div class="col-md-5 col-md-5">
                <h1 class="text-light">About Us</h1>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, in!
                </p>
                <p class="pt-4 textmuted">
                    Copyright©2019 All rights reserved | Presented by
                    <span>Mateo Dental Clinic</span>
                </p>
            </div>
            <div class="col-md-5">
                <h4 class="text-light">Newsletter</h4>
                <p class="text-muted">Stay updated</p>
                <form class="form-inline">
                    <div class="col pl-">
                        <div class="input-group pr-5">
                            <input type="text" class="form-control bg-dark text-white" placeholder="Email">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-md-2 col-sm-12">
                <h4 class="text-light">Follow Us</h4>
                <p class="text-muted">Let us be social</p>
                <div class="column text-dark">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>

                </div>
            </div>
        </div>
    </div>
</footer>



